.landing-container {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkKp4ak-VwroS5lHtfqIGnZPQjnRm4SF3ILw&s');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
    text-align: center;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Black with 50% opacity */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .title {
    font-size: 3em;
    margin-bottom: 20px;
  }
  
  .get-started-btn {
    font-size: 1.2em;
    padding: 10px 20px;
    border: none;
    background-color: #ff4081;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .get-started-btn:hover {
    background-color: #e0356d;
  }
  